<a href="https://colab.research.google.com/github/kim0129s/py08/blob/master/notebook/ch3_code02_py08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch3_code02.ipynb
## py08 
---
- 반복문: for
    - for ~ in ***:
    - range()
---

- **리스트 내포(List comprehension)**

***
- **for 문과 iterator**
    - for ~ range()
    - for ~ enumerate()
    - for ~ zip()

In [1]:
# ch3_03_for.py
#
print("for 문은 어떻게 사용?")
# 반복해서 문장을 수행해야 할 경우 for문을 사용한다. 

############################
print("for문의 기본 구조")
'''
for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2
    ...
'''

for 문은 어떻게 사용?
for문의 기본 구조

'\nfor 변수 in 리스트(또는 튜플, 문자열):\n    수행할 문장1\n    수행할 문장2\n    ...\n'

In [2]:
#
############################
print("예제를 통해 for문 이해하기")
############################
#
# 1. 전형적인 for문
#
test_list = ['one', 'two', 'three'] 
for i in test_list:
    print(i)

예제를 통해 for문 이해하기
one
two
three

In [5]:
my_list = [10,20,30,40,50]
for item in my_list:
    print(item)
    print(item*2)

10
20
20
40
30
60
40
80
50
100

In [6]:
#
# 2. 다양한 for문의 사용
#
a = [(1,2), (3,4), (5,6)]

for (first, last) in a:
    print(first + last)

3
7
11

In [10]:
#
# 3. for문의 응용
#
# "총 5명의 학생이 시험을 보았는데 시험 점수가 60점이 넘으면 
# 합격이고 그렇지 않으면 불합격이다. 
# 합격인지 불합격인지 결과를 보여 주시오."
#
# marks1.py
#
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark >= 60: 
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)
    

###################################
# cmd에서 실행하시오.
# python marks1.py
###################################

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [7]:
run marks1.py

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [9]:
#
###################################
print("for문과 continue")
###################################
# for문 안의 문장을 수행하는 도중에 continue문을 만나면 
# for문의 처음으로 돌아가게 된다.
#
# 앞에서 for문 응용 예제를 그대로 사용해서 60점 이상인 사람에게는 
# 축하 메시지를 보내고 나머지 사람에게는 아무 메시지도 전하지 않는 
# 프로그램을 작성.
#
# marks2.py 
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark < 60:
        continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)



###################################
# cmd에서 실행하시오.
# python marks2.py
###################################

for문과 continue
1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [8]:
run marks2.py

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

### range()
- range(start, end)
- range(start, end, step)
- range(end)

In [12]:
a1 = range(5)
print(a1)
list(a1)

range(0, 5)

[0, 1, 2, 3, 4]

In [13]:
a2 = range(0,10,2)
list(a2)

[0, 2, 4, 6, 8]

In [14]:
#
###################################
print("for문과 함께 자주 사용하는 range 함수")
# range(number)
# range(시작 숫자, 끝 숫자)
###################################
#
a = range(10)
a
list(a)   # la = list(a)

a = range(1, 11)
a

for문과 함께 자주 사용하는 range 함수

range(1, 11)

In [16]:
#
# range 함수를 이용한 코드
# 문제로 냄
add = 0 
for i in range(1, 11): 
    add = add + i

print(add)

55

In [21]:
a = range(10)
b=[1,2,3]
len(a), len(b)

(10, 3)

In [18]:
#marks3.py
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: 
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))


###################################
# cmd에서 실행하시오.
# python marks3.py
###################################

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [17]:
run marks3.py

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [22]:
#
###################################
print("for와 range를 이용한 구구단")
# for와 range 함수를 사용하면 
# 소스 코드 단 4줄만으로 구구단을 출력
###################################
#
# 중첩 for 문
for i in range(2,10):         # ①번 for문 (i-loop)
     for j in range(1, 10):   # ②번 for문 (j-loop)
         print(i*j, end=" ") 
     print('')   # 줄 바꿈

for와 range를 이용한 구구단
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [24]:
# 아래와 같이 출력하도록 코드를 변경해보시오.
#############################################################
# 2 X 1 = 2 2 X 2 = 4 2 X 3 = 6 2 X 4 = 8 2 X 5 = 10 2 X 6 = 12 2 X 7 = 14 2 X 8 = 16 2 X 9 = 18
# 3 X 1 = 3 3 X 2 = 6 3 X 3 = 9 3 X 4 = 12 3 X 5 = 15 3 X 6 = 18 3 X 7 = 21 3 X 8 = 24 3 X 9 = 27
# 4 X 1 = 4 4 X 2 = 8 4 X 3 = 12 4 X 4 = 16 4 X 5 = 20 4 X 6 = 24 4 X 7 = 28 4 X 8 = 32 4 X 9 = 36
# 5 X 1 = 5 5 X 2 = 10 5 X 3 = 15 5 X 4 = 20 5 X 5 = 25 5 X 6 = 30 5 X 7 = 35 5 X 8 = 40 5 X 9 = 45
# 6 X 1 = 6 6 X 2 = 12 6 X 3 = 18 6 X 4 = 24 6 X 5 = 30 6 X 6 = 36 6 X 7 = 42 6 X 8 = 48 6 X 9 = 54
# 7 X 1 = 7 7 X 2 = 14 7 X 3 = 21 7 X 4 = 28 7 X 5 = 35 7 X 6 = 42 7 X 7 = 49 7 X 8 = 56 7 X 9 = 63
# 8 X 1 = 8 8 X 2 = 16 8 X 3 = 24 8 X 4 = 32 8 X 5 = 40 8 X 6 = 48 8 X 7 = 56 8 X 8 = 64 8 X 9 = 72
# 9 X 1 = 9 9 X 2 = 18 9 X 3 = 27 9 X 4 = 36 9 X 5 = 45 9 X 6 = 54 9 X 7 = 63 9 X 8 = 72 9 X 9 = 81
#############################################################
# 
for i in range(2,10):        # ①번 for문
     for j in range(1, 10):   # ②번 for문
         print(i, "X", j, "=", i*j, end="  ") 
     print('')

2 X 1 = 2  2 X 2 = 4  2 X 3 = 6  2 X 4 = 8  2 X 5 = 10  2 X 6 = 12  2 X 7 = 14  2 X 8 = 16  2 X 9 = 18
3 X 1 = 3  3 X 2 = 6  3 X 3 = 9  3 X 4 = 12  3 X 5 = 15  3 X 6 = 18  3 X 7 = 21  3 X 8 = 24  3 X 9 = 27
4 X 1 = 4  4 X 2 = 8  4 X 3 = 12  4 X 4 = 16  4 X 5 = 20  4 X 6 = 24  4 X 7 = 28  4 X 8 = 32  4 X 9 = 36
5 X 1 = 5  5 X 2 = 10  5 X 3 = 15  5 X 4 = 20  5 X 5 = 25  5 X 6 = 30  5 X 7 = 35  5 X 8 = 40  5 X 9 = 45
6 X 1 = 6  6 X 2 = 12  6 X 3 = 18  6 X 4 = 24  6 X 5 = 30  6 X 6 = 36  6 X 7 = 42  6 X 8 = 48  6 X 9 = 54
7 X 1 = 7  7 X 2 = 14  7 X 3 = 21  7 X 4 = 28  7 X 5 = 35  7 X 6 = 42  7 X 7 = 49  7 X 8 = 56  7 X 9 = 63
8 X 1 = 8  8 X 2 = 16  8 X 3 = 24  8 X 4 = 32  8 X 5 = 40  8 X 6 = 48  8 X 7 = 56  8 X 8 = 64  8 X 9 = 72
9 X 1 = 9  9 X 2 = 18  9 X 3 = 27  9 X 4 = 36  9 X 5 = 45  9 X 6 = 54  9 X 7 = 63  9 X 8 = 72  9 X 9 = 81

### 리스트 내포

In [25]:
#
#######################################
print("리스트 내포(List comprehension)")
#######################################
#

a = [1,2,3,4]
result = []   # 리스트 초기화
for num in a:
    result.append(num*3)

print(result)

리스트 내포(List comprehension)
[3, 6, 9, 12]

In [26]:
# 리쓰트 내포
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [29]:
#
#############################################
print("리스트 내포의 일반 문법")
#
# [표현식 for 항목 in 반복가능객체 if 조건문]
# -----------------------------------------
#
# 일반화
# [표현식 for 항목1 in 반복가능객체1 if 조건문1
#         for 항목2 in 반복가능객체2 if 조건문2
#         ...
#         for 항목n in 반복가능객체n if 조건문n]
##############################################
#
# 예1. 구구단의 모든 결과를 리스트에 담는 코드
#
result = [x*y for x in range(2,10) for y in range(1,10)]

리스트 내포의 일반 문법

In [30]:
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [31]:
len(result)

72

In [34]:
#
# 예2. 9 이하의 정수 중 짝수는 2배로, 홀수는 그대로 리스트에 담는 코드
#
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]  # -> [1, 4, 3, 8, 5, 12, 7, 16, 9]
result = []
for idx in range(len(x)):
    if x[idx] % 2 == 0:
        result.append(x[idx] * 2)
    else:
        result.append(x[idx])
result
#
# 짝수만 추출하여 2배로 만든 리스트 구성
[element * 2 for element in x if element % 2 == 0]
# 그러면 짝수는 2배로, 홀수는 그대로 리스트에 담는 코드는?
[(element * 2 if element % 2 == 0 else element) for element in x]

[1, 4, 3, 8, 5, 12, 7, 16, 9]

In [35]:
x=[1,2,3,4]
[(element * 2 if element % 2 == 0 else element) for element in x]

[1, 4, 3, 8]

##for 문과 itrator
- range()
- enumerate()
- zip()

In [40]:
# ch3_04_for_iterates.py
#
############################
print("for 문과 itrator")
############################
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
#
print("과목명 출력")
for subject in subjects:
    print(subject)


#
print("과목 점수 출력")
for score in scores:
    print(score)

for index in range(len(subjects)):
    print(subjects[index],scores[index])

for 문과 itrator
과목명 출력
python
english
math
science
과목 점수 출력
88
77
66
95
python 88
english 77
math 66
science 95

###enumerate()를 이용한 출력

In [41]:
#
print("enumerate()를 이용한 출력")
for position, subject in enumerate(subjects):
    print(position,subject)

enumerate()를 이용한 출력
0 python
1 english
2 math
3 science

In [42]:
#
for position, subject in enumerate(subjects):
    print(subjects[position])

python
english
math
science

In [43]:
# 도전 [DIY]

print("enumerate()를 이용하여 점수를 출력해보시오.")
#
#
for position, score in enumerate(scores):
    print(scores[position])

enumerate()를 이용하여 점수를 출력해보시오.
88
77
66
95

In [44]:
#
############################
print("for 문과 itrator의 응용: 복합 문자열 리스트")
############################
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
# Method-1
for position in range(len(subjects)):
    subject = subjects[position]
    score = scores[position]
    print(subject, score)

for 문과 itrator의 응용: 복합 문자열 리스트
python 88
english 77
math 66
science 95

In [45]:
# Method-2
for position, subject in enumerate(subjects):
    score = scores[position]
    print(subject, score)

python 88
english 77
math 66
science 95

###zip()

In [48]:
zip(subjects, scores)
list(zip(subjects, scores))

[('python', 88), ('english', 77), ('math', 66), ('science', 95)]

In [46]:
# Method-3
for subject, score in zip(subjects, scores):
    print(subject, score)

python 88
english 77
math 66
science 95

In [49]:
# 응용 코드 : 평균 성적을 구하시오.
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]

average = 0
total = 0
for subject, score in zip(subjects, scores):
    total += score
    print(subject, score)

print("평균 점수 = {0}".format(total/len(subjects)))

# So Cool!

python 88
english 77
math 66
science 95
평균 점수 = 81.5