<a href="https://colab.research.google.com/github/kim0129s/py08/blob/master/notebook/mid_exam_py08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###문제 1
- 다음 식의 연산 결과는?

In [0]:
a = 5  #a에 5라는 값 지정
b = 3  #b에 3이라는 값 지정
a**b   #a^b = 5^3

- 125 
      5^3 = 5x5x5=125

###문제 2
- 다음 문자열 a에 대하여 슬라이싱을 한 결과는?

In [1]:
a = "Life is too short, You need Python!"  # a 에 "Life is too short, You need Python!" 라는 문자열 지정
a[-16:-8]                                  # a의 뒤에서 16번째 문자('Y')부터 뒤에서 8번째 문자(d' 'P) 전까지 출력
#'You need'

'You need'

- 1 'You need' (o)

    a[-16:-8]
- 2 'you need Python'

    a[19:-1]
- 3 'need Python'

    a[23:-1]
- 4 'short, You'

    a[12:-13]

###문제 3
- 다음 list a 의 인덱싱 결과는?

In [2]:
a = [1,2,(3,4),['a','b',['my','Life','Good']]] #리스트 a 생성
a[3][-1][0]                                     
                                                #a리스트 안에있는 4번째 리스트(['a','b',['my','Life','Good']])
                                                #내의 뒤에서 1번째에 있는 리스트(['my','Life','Good']) 
                                                #내의 1번째에 있는 'my'

'my'

- 1 'a'

    a[3][0]
- 2 'My'  (o)

    a[3][-1][0]
- 3 'Life'

    a[3][2][1]
- 4 'Good'

    a[3][2][2]

###문제 4
- 다음 tuple t1의 슬라이싱 결과는?

In [3]:
t1 = (0,1,"s","t","u")           #t1 에 튜플 생성
t1[2:-2]                         #튜플 t1에서 3번째 자리("s")부터 뒤에서 2번째 자리("t")전 까지 슬라이싱
                                 #튜플은 값이 하나만 출력될수 없기 떄문에 ('s',)가 출력된다.

('s',)

- 1 ('s','t')

    t1[2:-1]    type:tuple
- 2 ('s','t',)

    출력불가
- 3 ('s')

    t1[2]       type:str
- 4 ('s',)    (o)

    t1[2:-2]    type:tuple

###문제 5
- 다음 bool 값 출력 중 정확한 것은?

In [4]:
bool([0,1,2]), bool([0]),bool((0)),bool((0,))
#bool([0,1,2])는 [0,1,2]이라는 값이 리스트로 있기때문에 True
#bool([0])는 [0]이라는 값이 리스트로 있기 때문에 True
#bool((0))는 값이 0인 int 이기 때문에 (0 = False) False     (1=True)
#bool(0,)는 (0,)이라는 튜플이기때문에 True

(True, True, False, True)

- 1 (True, True, True, True)
- 2 (False, False, False, False)
- 3 (True, True, False, True)  (o)
- 4 (True, False, False, True)

### 문제 6
- 다음 조건문을 1줄코드로 변경하여라.

In [5]:
score = 80                    #score에 값80 지정
if score >= 60:               #score의 값이 60 보다 크거나 같으면 message에 문자열 "success"을 대입
  message = "success"          
else:                         #그렇지 않을경우 message에 문자열 "failure"을 대입
  message = "failure"
#아래의 답중에 위의 연산과 같은 경우는 2번
print(message)

success

- 1 message = "failure" if score>=60 else "success"

    failure
- 2 message = "success" if score>=60 else "failure" (o)

    success
- 3 message = "failure" if score>=60 then "success"

    SyntaxError: invalid syntax
- 4 message = "success" if score>=60 then "failure"

    SyntaxError: invalid syntax

### 문제 7
- 다음 코드의 실행 결과는?

In [6]:
games = ["A","B","C"]             #game에 ["A","B","C"]라는 리스트 생성

for cnt in range(len(games)):     #for 반복구문 반복할때마다 cnt에 0부터 3-1 의 값을 한번씩 집어넣음 
  print(cnt, games[cnt], end=',')  #현재 cnt와 games리스트의 cnt번쨰의 문자 출력후 ,를 찍고 가로로 출력

0 A,1 B,2 C,

- 1 0 A,1 B,2 C, (o)
- 2 0 A,1 B,2 C
- 3 1 A,2 B,3 C,
- 4 1 A,2 B,3 C

###문제 8
- 다음의 결과가 출력되지 않는것은? 'I ate 10 apples, so I was sick for three days'

In [0]:
# code start
number = 10
day = "three"

"I ate {0} apples. so I was sick for {1} days.".format(10,day)         #format함수를 이용하여 출력값: 10, three(day에 저장된 문자열)
f"I ate {number} apples. so I was sick for {day} days."                #f문자열을 이용한 포매팅 출력값: 10(number에저장됨), three(day에 저장됨)
f"I ate {number} apples. so I was sick for {'three'} days."            #f문자열을 이용한 포매팅 출력값: 10(number에저장됨), three
"I ate {0} apples. so I was sick for {1} ays.".format(number=10, day)  #SyntaxError: positional argument follows keyword argument (number=10은형식이 아님)

- 1 "I ate {0} apples. so I was sick for {1} days.".format(10,day)

    'I ate 10 apples. so I was sick for three days.'
- 2 f"I ate {number} apples. so I was sick for {day} days."

    'I ate 10 apples. so I was sick for three days.'
- 3 f"I ate {number} apples. so I was sick for {'three'} days."

    'I ate 10 apples. so I was sick for three days.'
- 4 "I ate {0} apples. so I was sick for {1} ays.".format(number=10, day) (o)

    SyntaxError: positional argument follows keyword argument

###문제 9
- 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한줄 코드를 작성하시오.

In [0]:
5 + 10 + 15 + 20 + 25 + .....
... + 955 + 960 + 965 + 970 +
975 + ... + 995 + 1000 = ?

In [7]:
sum([num for num in range(1,1001) if num % 5==0]) #1에서 1001전까지의 숫자를 한번씩num에 집어넣고 만약 집어넣은 값이 5로 나누었을때
                                                  #나머지가 0으로 떨어질 경우 sum함수를 이용하여 값을 중복하여 더함

100500

- 1 sum([num for num in range(1,1000) if num % 5==0])

    range함수는 (a,b)일떄 a숫자 부터 b숫자의 전까지 수를 반환 하기때문에
    해당연산의 경우 숫자가 **999**까지 반환되기 떄문에 1000이 누락되어       
    더해지지 않아 99500라는 값이 나오게된다.
- 2 len([num for num in range(1,1000) if num % 5==0])

    len 함수의 경우 num안에들은 갯수를 세어주는 함수이기 떄문에 1에서  
    999까지의 숫자중 5의 배수의 갯수를 세주어서 **199**라는 값이 출력된다.
- 3 sum([num for num in range(1,1001) if num % 5==0]) (o)

100500
- 4 len([num for num in range(1,1001) if num % 5==0])

    1에서 1000까지의 숫자중 5의 배수의 갯수를 세기때문에 **200**이라는 값이 
    출력된다.

###문제 10
- 4개의 과목의 평균 성적을 구하시오. [a], [b]에 적합한 코드는?

In [0]:
#문제
subjects = ['python','english','math','science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in [a].______(subjects, scores):
  total += score
  print(subject, score)

print("평균 점수 = (0)".format([b]._______))

In [8]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in zip(subjects,scores): # zip : 동일한 개수로 이루어진 자료형을 묶어 주는 역할
  total += score
  print(subject, score)

print("평균 점수 = {0}".format(total/len(subjects))) 

# [a] : zip
# [b] : total/len(subjects)

python 88
english 77
math 66
science 95
평균 점수 = 81.5